table {
  border-collapse: separate;
  border-spacing: 10px;
}

th,
td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: left;
}

tbody tr:nth-child(odd) td {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) td {
  background-color: #ffffff;
}
